<div class="config-container">
  <div class="config-content standard-form">
    {{#each fields as |field|}}
      {{{field}}}
    {{/each}}
  </div>
  <footer class="form-footer flexrow">
    <button type="button" data-action="cancel">
      <span>Cancel</span>
    </button>
    <button type="button" data-action="confirm">
      <span>{{buttonLabel}}</span>
    </button>
  </footer>
</div>