.dark-heresy .item-list {
  .header {
    padding-right: 10px;

    .skill-action {
      flex-grow: 1;
      font-size: 12px;
      line-height: 16px;

      #context-menu {
        right: 100%;
        left: auto;
        cursor: pointer;
      }
    }
  }

  .items {
    .dhe2e-skill-actions {
      margin-right: 5px;

      #context-menu {
        right: 100%;
        left: auto;
        cursor: pointer;

        i {
          font-size: 12px;
        }
      }
    }

    .flex.header {
      justify-content: space-between;
    }
  }
}

.dh2e-homebrew {
  &.skill-config .config-content {
    margin-bottom: 10px;
  }

}

.dark-heresy .stats .skills .flex.row {
  overflow-x: auto;
}